<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edt Passenger</title>
    </head>
    <body>
        <h3>Edit Passenger</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <label>First Name</label><br>
            <input type="text" name="first_name" value="{{.First_name}}" /><br><br>
            <label>Last Name</label><br>
            <input type="text" name="last_name" value="{{.Last_name}}" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>
