<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edt Flight</title>
    </head>
    <body>
        <h3>Edit Flight</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <label>Departure</label><br>
            <input type="text" name="departure" value="{{.Departure}}" /><br><br>
            <label>Date from</label><br>
            <input type="text" name="date_from" value="{{.Date_from}}" /><br><br>
            <label>Destination</label><br>
            <input type="text" name="destination" value="{{.Destination}}" /><br><br>
            <label>Date to</label><br>
            <input type="text" name="date_to" value="{{.Date_to}}" /><br><br>
            <label>Status</label><br>
            <input type="text" name="status" value="{{.Status}}" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>
