<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Edt Ticket</title>
    </head>
    <body>
        <h3>Edit Ticket</h3>
        <form method="POST">
            <input type="hidden" name="id" value="{{.Id}}" />
            <label>Flight ID</label><br>
            <input type="number" name="flights_id" value="{{.Flights_id}}" /><br><br>
            <label>Passenger ID</label><br>
            <input type="number" name="passengers_id" value="{{.Passengers_id}}" /><br><br>
            <label>Baggage</label><br>
            <input type="number" name="baggage" value="{{.Baggage}}" /><br><br>
            <label>Price</label><br>
            <input type="number" name="price" value="{{.Price}}" /><br><br>
            <input type="submit" value="Send" />
        </form>
    </body>
</html>
