<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aviatickets</title>
    </head>
    <body>
        <p><a href="/passengers">Пассажиры</a> | <a href="/tickets">Билеты</a></p>
        <h2>Расписание рейсов</h2>
        <p><a href="/create">Добавить рейс</a></p>
        <table>
            <thead><th>Id</th><th>Departure</th><th>Date from</th><th>Destination</th><th>Date to</th><th>Status</th></thead>
            {{range . }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Departure}}</td>
                <td>{{.Date_from}}</td>
                <td>{{.Destination}}</td>
                <td>{{.Date_to}}</td>
                <td>{{.Status}}</td>
                <td><a href="/edit/{{.Id}}">Изменить</a> |
                    <a href="/delete/{{.Id}}">Удалить</a>
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
