<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aviatickets</title>
    </head>
    <body>
        <p><a href="/">Расписание рейсов</a> | <a href="/passengers">Пассажиры</a></p>
        <h2>Билеты</h2>
        <p><a href="/createticket">Добавить билет</a></p>
        <table>
            <thead><th>Id</th><th>Рейс</th><th>Пассажир</th><th>Багаж</th><th>Цена</th></thead>
            {{range . }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.Flights_id}}</td>
                <td>{{.Passengers_id}}</td>
                <td>{{.Baggage}}</td>
                <td>{{.Price}}</td>
                <td><a href="/editticket/{{.Id}}">Изменить</a> |
                    <a href="/deleteticket/{{.Id}}">Удалить</a>
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
