<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Aviatickets</title>
    </head>
    <body>
        <p><a href="/">Расписание рейсов</a> | <a href="/tickets">Билеты</a></p>
        <h2>Пассажиры</h2>
        <p><a href="/createpassenger">Добавить пассажира</a></p>
        <table>
            <thead><th>Id</th><th>First name</th><th>Last name</th></thead>
            {{range . }}
            <tr>
                <td>{{.Id}}</td>
                <td>{{.First_name}}</td>
                <td>{{.Last_name}}</td>
                <td><a href="/editpassenger/{{.Id}}">Изменить</a> |
                    <a href="/deletepassenger/{{.Id}}">Удалить</a>
                </td>
            </tr>
            {{end}}
        </table>
    </body>
</html>
